build
build-*/
.cache/
compile_commands.json
*.o
*.obj
*.a
*.so
.vscode/
.idea/
__pycache__/
*.egg-info/
.venv

# MNIST data files
*.idx3-ubyte
*.idx1-ubyte
examples/train-images-idx3-ubyte/
examples/train-labels-idx1-ubyte/